[Unit]
Description=Tesla Panel Bluetooth server
After=teslabot-discoverable.service teslabot-agent.service
Requires=teslabot-discoverable.service teslabot-agent.service

[Service]
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/bt_server.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
