[Unit]
Description=teslabot
After=bluetooth.target bluetooth.service
Wants=bluetooth.target

[Service]
User=pi
WorkingDirectory=/home/pi/
ExecStart=/home/pi/teslabot
Restart=always

[Install]
WantedBy=multi-user.target
